h1{
    background: #ec610a;
    /*margin-left: 100px;
    margin-bottom: 200px;*/
    /*margin: 100px;*/
   /* margin: 200px 100px;*//*arriba-abajo  izquierda-derecha*/
   margin: 100px 10px 20px 500px;/*en el sentido de las agujas del reloj empezando a las 12"*/
}

p{
    background: #a40a3c;
    padding: 100px;/*en todos los lados, margen interno*/
}